<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    .gap-half {
      grid-gap: 0.5rem;
    }

    .gap-1 {
      grid-gap: 1rem;
    }

    .gap-2 {
      grid-gap: 2rem;
    }

    .gap-3 {
      grid-gap: 3rem;
    }

    .flex-1 {
      flex: 1;
    }

    .scrim {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding: 1em 2em;
    }

    .scrim::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
      z-index: -1;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .tile {}
  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container v-if="latest" class="d-flex flex-column gap-3">
          <div>
            <h6 class="text-h6 mb-1">Results:</h6>
            <stats :source="latest" :overall="true"></stats>
          </div>

          <div class="d-flex gap-1">
            <minmaxavg :data="results" class="flex-1"></minmaxavg>
            <pricevssqft :data="results" class="flex-1"></pricevssqft>
          </div>

          <p class="text-caption font-italic">Last updated {{lastUpdated}}</p>

          <template v-for="apt in latest.apartments">
            <div class="d-flex flex-column gap-1">
              <a class="text-h6" :href="apt.url" target="_blank">{{ apt.name }}</a>
              <stats :source="apt"></stats>
              <div class="d-flex gap-1">
                <v-card v-for='image in apt.images'>
                  <v-img :src="image" :key="image" height="30vh" width="25vw"></v-img>
                </v-card>
              </div>
              <h6 class="text-h6">Available Units</h6>
              <div class="d-flex gap-1">
                <template v-for="plan in apt.plans">
                  <v-card v-for="unit in plan.units" light>
                    <v-card-title>{{ unit.price | currency }}</v-card-title>
                    <v-card-subtitle class="pb-0 text-subtitle-2">
                      Unit {{unit.number}} &bull; Available {{ unit.available }}
                    </v-card-subtitle>
                    <v-card-subtitle class="pt-0">Plan {{ plan.name }} &bull; {{ unit.sqft }} sqft</v-card-subtitle>
                  </v-card>
                </template>
              </div>
            </div>
          </template>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
  <script src="https://unpkg.com/vue-chartjs@3.5.1/dist/vue-chartjs.js"></script>
  <script>
    Vue.filter('currency', function (value) {
      if (typeof value !== "number") {
        return value;
      }
      return value.toLocaleString('en-US', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 0,
        maximumFractionDigits: 0
      });
    });

    Vue.component('stats', {
      name: 'stats',
      props: {
        source: Object,
        overall: Boolean,
      },
      computed: {
        text() {
          return this.overall ? 'overall rent' : 'rent'
        },
      },
      template: `
      <div class="d-flex gap-1">
        <div>
          <h5 class="text-h5">{{source.min_price | currency}}</h5>
          <p class="text-subtitle-2 mb-0">Minimum {{text}}</p>
        </div>
        <div>
          <h5 class="text-h5">{{source.max_price | currency}}</h5>
          <p class="text-subtitle-2 mb-0">Maximum {{text}}</p>
        </div>
        <div>
          <h5 class="text-h5">{{source.average_price | currency}}</h5>
          <p class="text-subtitle-2 mb-0">Average {{text}}</p>
        </div>
      </div>
      `
    })

    Vue.component("minmaxavg", {
      extends: VueChartJs.Line,
      props: {
        data: Object,
      },
      mounted() {
        const min = [];
        const max = [];
        const average = [];
        const median = [];
        Object.keys(this.data.snapshots).forEach(timestamp => {
          const snapshot = this.data.snapshots[timestamp];
          min.push({
            x: timestamp,
            y: snapshot.min_price,
          });
          max.push({
            x: timestamp,
            y: snapshot.max_price,
          });
          average.push({
            x: timestamp,
            y: snapshot.average_price,
          });
          median.push({
            x: timestamp,
            y: snapshot.median_price,
          });
        });

        this.renderChart(
          {
            datasets: [
              {
                label: "Minimum price",
                borderColor: "#FF4A4A",
                data: min,
                fill: false,
              },
              {
                label: "Maximum price",
                borderColor: "#6FEDD6",
                data: max,
                fill: false,
              },
              {
                label: "Average price",
                borderColor: "#FF9551",
                data: average,
                fill: false,
              },
              {
                label: "Median price",
                borderColor: "#FFD651",
                data: median,
                fill: false,
              },
            ],
          },
          {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              xAxes: [
                {
                  type: "time",
                  time: {
                    displayFormats: {
                      quarter: "MMM YYYY",
                    }
                  },
                },
              ],
              yAxes: [
                {
                  ticks: {
                    callback: function (value, index, values) {
                      return value.toLocaleString('en-US', {
                        style: 'currency',
                        currency: 'USD',
                        minimumFractionDigits: 0,
                        maximumFractionDigits: 0
                      });
                    }
                  }
                }
              ]
            },
          }
        );
      },
    });

    Vue.component("pricevssqft", {
      extends: VueChartJs.Scatter,
      props: {
        data: Object,
      },
      mounted() {
        const points = [];
        const snapshot = this.data.snapshots[Object.keys(this.data.snapshots)[0]];
        snapshot.apartments.forEach(apt => {
          apt.plans.forEach(plan => {
            plan.units.forEach(unit => {
              points.push({
                x: unit.sqft,
                y: unit.price,
                label: `${apt.name} - ${plan.name} - ${unit.number}`,
              });
            });
          });
        });

        // add labels
        this.renderChart(
          {
            datasets: [
              {
                label: "Price vs. Size for latest data set",
                borderColor: "#2F4DD6",
                data: points,
                pointRadius: 3,
                pointHoverRadius: 8,
                pointBackgroundColor: "#2F4DD6",
              },
            ],
          },
          {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              xAxes: [
                {
                  type: "linear",
                  position: "bottom",
                  scaleLabel: {
                    display: true,
                    labelString: "Size",
                  },
                  ticks: {
                    callback: function (value, index, values) {
                      return `${value.toLocaleString('en-US', {
                        minimumFractionDigits: 0,
                        maximumFractionDigits: 0
                      })} sqft`;
                    }
                  },
                },
              ],
              yAxes: [
                {
                  type: "linear",
                  position: "left",
                  scaleLabel: {
                    display: true,
                    labelString: "Price",
                  },
                  ticks: {
                    callback: function (value, index, values) {
                      return value.toLocaleString('en-US', {
                        style: 'currency',
                        currency: 'USD',
                        minimumFractionDigits: 0,
                        maximumFractionDigits: 0
                      });
                    },
                  },
                },
              ],
            },
          },
        );
      },
    });

    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
        results: null
      }),
      computed: {
        latest() {
          if (!this.results) return null;
          const entries = Object.keys(this.results.snapshots).sort();
          return this.results.snapshots[entries[0]];
        },
        lastUpdated() {
          const entries = Object.keys(this.results.snapshots).sort().reverse();
          const time = moment(entries[0]).format('MMMM Do YYYY, h:mm:ss a');
          return `${time} (${moment(entries[0]).fromNow()})`;
        }
      },
      mounted() {
        // Get local data from results.json
        fetch('results.json')
          .then(response => response.json())
          .then(data => {
            this.results = data;
          });
      }
    })
  </script>
</body>

</html>